@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Space+Mono:wght@400;700&display=swap');

.Footer h3 {
	background-color: rgb(255, 255, 241);
	font-family: 'Poppins', sans-serif;
	height: 60px;

	padding-top: 10px;
	margin: 0;
	text-align: center;
}

.icon {
	color: rgb(223, 187, 249);
	padding: 0 10px 0;
}
