.logo {
	display: inline-block;
	width: 120px;
	height: 120px;
	margin: 20px 50px;
	border: 2px solid rgb(199, 179, 252);
	border-radius: 20%;
	background-color: rgb(248, 231, 199);
}

.Header {
	font-family: 'Space Mono', monospace;
	background-color: rgb(224, 247, 231);
	padding: 20px;
}

.Header h1 {
	margin: 0px;
	font-size: 50px;
	color: rgb(181, 176, 252);
	text-decoration: rgb(181, 176, 252) overline;
}

.Header h5 {
	margin-top: 5px;
	color: rgb(240, 173, 211);
}

.Header p {
	margin-top: 5px;
	color: cornflowerblue;
}
