.logo {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 20px 50px;
	border: 2px solid rgb(199, 179, 252);
	border-radius: 20%;
	background-color: wheat;
}

.Header {
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(224, 247, 231);
	padding: 20px;
}

.Header h1 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 50px;
	color: rgb(181, 176, 252);
	text-decoration: rgb(181, 176, 252) overline;
}

.Header p {
	margin-top: 15px;
	color: cornflowerblue;
}
