.Header {
	font-family: 'Space Mono', monospace;
	margin-bottom: 30px;
	user-select: none;
}

.Header a {
	text-decoration: none;
}

.Header a:hover {
	color: rgb(187, 185, 253);
}

.bgWrap {
	position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	z-index: -1;
}

.logo {
	width: 130px;
	height: 130px;
	margin: 20px;
	padding: 10px;
	/* border: 3px solid rgb(199, 179, 252); */
	border-radius: 50%;
	background-color: #fbe5e2;
	border: 3px solid;
}

.logo:hover {
	width: 130px;
	height: 130px;
	margin: 20px 60px;
	padding: 10px;
	border-radius: 50%;
	background-color: rgb(247, 208, 220);
}

.snaxBox {
	display: inline-block;
	border: rgb(247, 208, 220) 2px solid;
	position: relative;
	/* background-color: #a783e3;
	background: linear-gradient(90deg, rgb(248, 233, 212) 0%, #fee9fa 100%); */
	background: rgb(254, 251, 241);
	background: linear-gradient(
		0deg,
		rgba(254, 251, 241, 1) 0%,
		rgba(252, 238, 247, 1) 52%,
		#f9eeee 100%
	);
	text-align: center;
	border-radius: 50px;
	margin-top: 100px;
}

.snaxBox h1 {
	margin: 0;
	font-size: 50px;
}

.snaxBox h5,
.snaxBox p {
	font-family: 'Poppins', sans-serif;
}

.snaxBox h3 {
	color: #a783e3;
	font-weight: 100;
	margin: 0;
	padding: 5px;
	font-size: 18px;
	font-weight: 300;
}

.snaxBox h5 {
	color: rgb(0, 0, 0);
	font-size: 12px;
	padding: 0px;
	margin: 20px;
	font-weight: 00;
}

.snaxBox p {
	font-size: 13px;
	padding: 0 40px;
	margin: 8px;
	color: rgb(0, 0, 0);
}

.snaxBox a {
	color: rgb(145, 127, 247);
	font-weight: 300;
}

@media screen and (max-width: 750px) {
	.snaxBox p {
		font-size: 14px;
		padding: 15px;
	}
	.Header h1 {
		font-size: 30px;
		/* text-decoration: none; */
	}
	.Header h5 {
		font-size: 11px;
	}
}
